# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
.env
test.env
node_modules/

# Files that might appear on external disks
.Spotlight-V100
.Trashes
